<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="../../assets/Styles/reset.css" />
	<link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.css"/>
	<link rel="stylesheet" href="../../assets/font-awesome/css/font-awesome.min.css" />
	<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic' rel='stylesheet' type='text/css'>
	<script src="@Url.Content("~/Scripts/jquery-2.0.3.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/JavaScript/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
	<link rel="stylesheet" href="../../assets/Styles/style.css" />
	<script src="../../assets/bootstrap/js/bootstrap.js" type="text/javascript"></script>
	
</head>
<body>
    <div class="page">
        <header class="headerholder">
            <div class="row">
					<div class="col-md-4">
						<img class="pull-left" src="@Url.Content("~/assets/Images/LogoDesign.png")" alt="Logo" />
						<a class="title" href="#">Blue Script</a>
						</div>
						
					<div class="col-md-8">
						<nav>
						<ul class="nav nav-pills pull-right mainnav">
							<li>@Html.ActionLink("Home", "Index", "Home")</li>
							<li>@Html.ActionLink("My Blue Script", "MyBlueScript", "Home")</li>
							<li>@Html.ActionLink("Current Statistics", "MyStats", "Home")</li>
							<li>@Html.ActionLink("Chapters", "Chapters", "Home")</li>
						</ul>
					</nav>
				</div>
				</div>
            
        </header>
		<div class="row bodyholder">
					<div class="col-md-12">
        <section id="main">
            @RenderBody()
        </section>
		</div>
		</div>
        <footer>
			<p class="pull-right">Footer Text goes here.</p>
        </footer>
    </div>

	<!--Only script tags after this line of code. -->
	<script src="../../assets/JavaScript/myjs.js" type="text/javascript" ></script>
    
</body>
</html>
