@model MiniProject01.Models.InformationModel
@{
    ViewBag.Title = "GetStats";
}
<!DOCTYPE html>
<html>
<head>
    <title>String Counter</title>
</head>
<body>
    @{
        if (IsPost)
        {
        <p>
            You entered:
            @Model.name
            <br />
            Inside this input: @Model.input
            <br />
            <br />
            @Model.name
            was found @Model.number 
            times!
        </p> 
        }
    }
    @using (Html.BeginForm())
    {
        <p>
            String to look for: @Html.TextBoxFor(x => x.name)
        </p>
        <p>
            Input: @Html.TextBoxFor(x => x.input)
        </p>
        
        <input type="submit" value="Search for String" />
    }
</body>
</html>
