@model Blue_Script.Character

		   
@using (Ajax.BeginForm("AddEditCharacter", "Home", new AjaxOptions{ HttpMethod = "POST", UpdateTargetId = "tabs-2" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Html.EditorFor(model => model.FullName) <span class="pull-right">@Html.ActionLink("X", "DeleteCharacter", new { id = Model.CharacterID })</span></legend>
		@Html.ValidationMessageFor(model => model.FullName)
        @Html.HiddenFor(model => model.CharacterID)
        <h5>Notes:</h5>
        <div class="editor-field">
            @Html.EditorFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>

        <p>
                <input type="submit" value="Save" id="btnSave" name="cmd" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" />
        </p>
    </fieldset>
}
	

