@model Blue_Script.Character

		   
<form id="charForm@(Model.CharacterID)" method="post" data-ajax-method="POST" data-ajax="true" action="" novalidate="novalidate">
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>
			<input id="FullName" class="text-box single-line valid" type="text" value="@Model.FullName" name="FullName" onchange="updateCharacter(@Model.CharacterID);">
			<span class="pull-right">@Html.ActionLink("X", "DeleteCharacter", new { id = Model.CharacterID })</span>
		</legend>
		@Html.ValidationMessageFor(model => model.FullName)
        @Html.HiddenFor(model => model.CharacterID)
        <h5>Notes:</h5>
        <div class="editor-field">
            <input id="Notes" value="@Model.Notes" class="text-box multi-line" name="Notes" onchange="updateCharacter(@Model.CharacterID);" />
        </div>

        <p>
                <input type="submit" value="Save" id="btnSave" name="cmd" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" />
        </p>
		<div class="btn btn-success btn-xs pull-right hideme" id="saveChar@(Model.CharacterID)">Saved</div>
		
    </fieldset>
</form>
	

