@model Blue_Script.Setting

<form id="setForm@(Model.ID)" name="setForm@(Model.ID)" method="post" data-ajax-method="POST" data-ajax="true" action="#" novalidate="novalidate" onsubmit="updateSetting(@Model.ID)">
    @Html.ValidationSummary(true)
    <fieldset>
        <legend><input id="Name" class="text-box single-line valid" type="text" value="@Model.Name" name="Name" onchange="updateSetting(@Model.ID)"> <span class="pull-right">@Html.ActionLink("X", "DeleteSetting", new { id = Model.ID })</span></legend>
		@Html.ValidationMessageFor(model => model.Name)
        @Html.HiddenFor(model => model.ID)

        <h5>Notes</h5>
        <div class="editor-field">
            <textarea id="Notes" class="text-box multi-line" name="Notes" rows="5" onchange="updateSetting(@Model.ID)">@Model.Notes</textarea>
        </div>

         <p>
                <input type="submit" value="Save" id="btnSave" name="cmd" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" />
        </p>
		<div class="btn btn-success btn-xs pull-right hideme" id="saveSet@(Model.ID)">Saved</div>
    </fieldset>
</form>
	
