@model Blue_Script.Setting

<div class="event" draggable="true">
@using (Ajax.BeginForm("AddEditSetting", "Home", new AjaxOptions{ HttpMethod = "POST", UpdateTargetId = "tabs-3" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Setting</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>

         <p>
                <input type="submit" value="Save" id="btnSave" name="cmd" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" />
        </p>
    </fieldset>
}
	@Html.ActionLink("X", "DeleteSetting", new { id = Model.ID }, new { @class = "confirmDialog" })
</div>
