@model IEnumerable<Blue_Script.Chapter>
@{
	ViewBag.Title = "BlueScript Home";
}

@Html.Action("Nav","Home")
<div class="row top">
	<header class="bsHeader chap">
		<h1>
			Chapters</h1>
			
	</header>
</div>
	<div class="row chapters">
	<a href="@Url.Action("CreateChapter", "Home")" class="pull-right"><i class="icon-plus-sign-alt icon-4x">
		</i></a>
	<div id="accordion">
		@for (var i = 0; i < Model.Count(); i++)
  {
			<h3>
				<a href="#" class="subtitle" id="chap@(Model.ElementAt(i).ID)">@Model.ElementAt(i).Name</a></h3>
			<div class="chapterholder well">
				@Html.Action("EditChapter", "Home", new { id = Model.ElementAt(i).ID })
			</div>
  }
	</div>
</div>

<div id="dialog" title="Basic modal dialog">
	@Html.Action("Projects","Home")
</div>
