@model IEnumerable<Blue_Script.Chapter>
@{
	ViewBag.Title = "BlueScript Home";
}

@Html.Action("Nav","Home")
<div class="row top">
	<header class="bsHeader chap">
		<h1>
			@ViewBag.projectName</h1>
			
	</header>
</div>
	<div class="row chapters">
	<a href="@Url.Action("CreateChapter", "Home")" class="pull-right"><i class="icon-plus-sign-alt icon-4x">
		</i></a>
	<div id="accordion">
		@Html.Action("Chapters","Home")
	</div>
</div>

<div id="dialog" title="Change Project">
	@Html.Action("Projects","Home")
</div>
