@model IEnumerable<Blue_Script.Scene>
@{
	ViewBag.Title = "My BlueScript";
}
<!-- 
TODO: 
	Make adding charaters right at your fingertips(inside the event)
	Be able to view, and edit via Modal
	Be able to delete
	Add buttons where they are needed
	Fix CSS Colors
	Fix Navigation
	Add login screen via Modal
	Add logo to site.
	Implement Home page(Design)
-->
<!--Side Nav & drag and drop area-->
<div class="row-fluid">
	<div class="span2">
		<div class="sidebar">
			<ul class="nav nav-list">
				<li class="nav-header">Add New</li>
				<li><a href="#">Scene</a>
				<li><a href="#">Character</a>
				<li><a href="#">Setting</a>
				<li class="nav-header">Characters</li>
				@foreach (var item in ViewBag.myCharacters)
	  {
					<li><a href="#" class="simpledialog">@item.FullName</a></li>
	  }
				<li class="nav-header">Settings</li>
				@foreach (var setting in ViewBag.Settings)
	  {
					<li><a href="#" id="dialog2">@setting.Name</a></li>
	  }
			</ul>
		</div>
	</div>
	<div class="span10">
		<div class="workarea">
			@for (var i = 0; i < Model.Count(); i++)
   {
				<div class="event">
					@Html.Action("ScenePartial", "Home", new { id = Model.ElementAt(i).ID, sID = Model.ElementAt(i).SettingID })
				</div>
					
   }
			<div class="event">
				<a href="@Url.Action("CreateScene", "Home")"><i class="icon-plus-sign-alt icon-4x"></i>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="dialogbox" style="display: none;">
	@Html.Action("EditCharacter", "Home");
</div>