@model IEnumerable<Blue_Script.Scene>
@{
	ViewBag.Title = "My BlueScript";
}
<!-- 
TODO: 
	Make adding charaters right at your fingertips(inside the event)
	Be able to view, and edit via Modal
	Be able to delete
	Add buttons where they are needed
	Fix CSS Colors
	Fix Navigation
	Add login screen via Modal
	Add logo to site.
	Implement Home page(Design)
-->
<!--Side Nav & drag and drop area-->
<div class="row-fluid">
	<div class="span2">
		<div class="sidebar">
			<ul class="nav nav-pills nav-stacked">
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Add
					New</a>
					<ul class="dropdown-menu">
						<li><a href="#eventModal" role="button" data-toggle="modal">Scene</a></li>
						<li><a href="#">Character</a></li>
						<li><a href="@Url.Action("CreateSetting", "Home")" data-toggle="modal">Setting</a></li>
					</ul>
				</li>
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Characters</a>
				<ul class="dropdown-menu">

					
				</ul></li>
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Setting</a>
				<ul class="dropdown-menu">
					@foreach (var item in (IEnumerable<SelectListItem>)ViewBag.PossibleSettings)
	 {
					<li><a href="@Url.Action("EditSetting", "Home", new { m = item })" data-toggle="modal">@item.Text</a></li>
	 }
					
				</ul></li>
			</ul>
		</div>
	</div>
	<div class="span10">
		<div class="workarea">
			@for (var i = 0; i < Model.Count(); i++)
   {
	   <div class = "event">
	   @Html.Action("ScenePartial", "Home", new { id = Model.ElementAt(i).ID, sID = Model.ElementAt(i).SettingID })
	   </div>
					
   }
			<div class="event">
				<a href="@Url.Action("CreateScene", "Home")" data-toggle="modal"><i class="icon-plus-sign-alt icon-4x">
				</i></a>
			</div>
		</div>
	</div>
</div>
