@model IEnumerable<Blue_Script.Scene>
@{
	ViewBag.Title = "My BlueScript";
}
<!--Side Nav & drag and drop area-->
<div class="row">
	<div class="col-md-12">
		<div class="workarea" id="workarea">
			<div id="tabs">
				<ul class="nav nav-pills">
					<li><a href="#tabs-1">Scenes</a></li>
					<li><a href="#tabs-2">Characters</a></li>
					<li><a href="#tabs-3">Settings</a></li>
				</ul>
				<div id="tabs-1">
					@for (var i = 0; i < Model.Count(); i++)
	 {
						<div class="event">
							@Html.Action("ScenePartial", "Home", new { id = Model.ElementAt(i).ID, sID = Model.ElementAt(i).SettingID })
						</div>				
	 }
					<div class="event">
						<a href="@Url.Action("CreateScene", "Home")"><i class="icon-plus-sign-alt icon-4x"></i>
						</a>
					</div>
				</div>
				<div id="tabs-2">
					@foreach (var item in ViewBag.myCharacters)
	 {
						<div class="event">
							@Html.Action("AddEditCharacter", "Home", new { id = item.CharacterID })
						</div>
	 }
					<div class="event">
						<a href="@Url.Action("CreateCharacter", "Home")"><i class="icon-plus-sign-alt icon-4x"></i>
						</a>
					</div>
				</div>
				<div id="tabs-3">
					@foreach (var setting in ViewBag.Settings)
	 {
						<div class="event">
							@Html.Action("AddEditSetting", "Home", new { id = setting.ID })
						</div>
	 }
					<div class="event">
						<a href="@Url.Action("CreateSetting", "Home")"><i class="icon-plus-sign-alt icon-4x"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="dialog-confirm" style="display: none">
	<p>
		<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
		Are you sure to delete ?
	</p>
</div>
<div id="dialog-edit" style="display: none">
</div>
<script type="text/javascript">
	$(document).ready(function () {

		//Start of test code.
		$.ajaxSetup({ cache: false });

		$("#tabs").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
		$("#tabs li").removeClass("ui-corner-top").addClass("ui-corner-left");

		$(".confirmDialog").on("click", function (e) {

			var url = $(this).attr('href');
			$("#dialog-confirm").dialog({
				autoOpen: false,
				resizable: false,
				height: 170,
				width: 350,
				show: { effect: 'drop', direction: "up" },
				modal: false,
				draggable: true,
				buttons: {
					"OK": function () {
						$(this).dialog("close");
						window.location = url;

					},
					"Cancel": function () {
						$(this).dialog("close");

					}
				}
			});
			$("#dialog-confirm").dialog('open');
			return false;
		});

		$("#btncancel").on("click", function (e) {
			$("#dialog-edit").dialog('close');

		});


	});
</script>
