@model IEnumerable<Blue_Script.Scene>
@{
	ViewBag.Title = "My BlueScript";
}
<div class="row">
<header class="bsHeader" id="sceneHead">
			<h1>
				Scenes</h1>
		</header>
	<div id="tabs-1" class="tab">
		
		@for (var i = 0; i < Model.Count(); i++)
  {
			<div class="event well" draggable="true">
				@Html.Action("ScenePartial", "Home", new { id = Model.ElementAt(i).ID, sID = Model.ElementAt(i).SettingID })
			</div>				
  }
		<div class="event add">
			<a href="@Url.Action("CreateScene", "Home")"><i class="icon-plus-sign-alt icon-4x"></i>
			</a>
		</div>
	</div>
</div>
<div class="row">
<header class="bsHeader" id="charHead">
			<h1>
				Characters</h1>
		</header>
	<div id="tabs-2" class="tab">
		
		@foreach (var item in ViewBag.myCharacters)
  {
			<div class="event well" draggable="true">
				@Html.Action("AddEditCharacter", "Home", new { id = item.CharacterID })
			</div>
  }
		<div class="event add">
			<a href="@Url.Action("CreateCharacter", "Home")"><i class="icon-plus-sign-alt icon-4x">
			</i></a>
		</div>
	</div>
</div>
<div class="row">
<header class="bsHeader" id="setHead">
			<h1>
				Settings</h1>
		</header>
	<div id="tabs-3" class="tab">
		
		@foreach (var setting in ViewBag.Settings)
  {
			<div class="event well" draggable="true">
				@Html.Action("AddEditSetting", "Home", new { id = setting.ID })
			</div>
  }
		<div class="event add">
			<a href="@Url.Action("CreateSetting", "Home")"><i class="icon-plus-sign-alt icon-4x">
			</i></a>
		</div>
	</div>
</div>
<div class="modal-dialog" id="dialog-confirm" style="display: none">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close">
				&times;</button>
			<h4 class="modal-title">
				Are you sure to delete ?</h4>
		</div>
	</div>
</div>
<div id="dialog-edit" style="display: none">
</div>
<script type="text/javascript">
	$(document).ready(function () {

		//Start of test code.
		$.ajaxSetup({ cache: false });

		function runEffect1() {
			var options = {};
			$("#tabs-1").toggle('clip', options, 1000);
		};

		$("#sceneHead").click(function () {
			runEffect1();
			return false;
		});
		function runEffect2() {
			var options = {};
			$("#tabs-2").toggle('clip', options, 1000);
		};

		$("#charHead").click(function () {
			runEffect2();
			return false;
		});
		function runEffect3() {
			var options = {};
			$("#tabs-3").toggle("clip", options, 1000);
		};

		$("#setHead").click(function () {
			runEffect3();
			return false;
		});

		$(".confirmDialog").on("click", function (e) {

			var url = $(this).attr('href');
			$("#dialog-confirm").dialog({
				autoOpen: false,
				resizable: false,
				height: 170,
				width: 350,
				show: { effect: 'drop', direction: "up" },
				modal: true,
				draggable: true,
				buttons: {
					"OK": function () {
						$(this).dialog("close");
						window.location = url;

					},
					"Cancel": function () {
						$(this).dialog("close");

					}
				}
			});
			$("#dialog-confirm").dialog('open');
			return false;
		});

		$("#btncancel").on("click", function (e) {
			$("#dialog-edit").dialog('close');

		});


	});
</script>
