@model Blue_Script.Scene
<div class="event" draggable="true">
	@using (Html.BeginForm("EditScene", "Home"))
 {
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)
		<fieldset>
			<legend>Scene</legend>
			@Html.HiddenFor(model => Model.ID)
			<h5>
				Name</h5>
			<div class="editor-field">@Html.EditorFor(model => Model.Name)</div>
			<h5>
				Setting: @Html.DropDownList("PossibleSettings", (IEnumerable<SelectListItem>)ViewBag.PossibleSettings)
				<a href="#modalThisWillBeTheSettingID" role="button" class="btn btn-mini float-right"
					data-toggle="modal"><i class="icon-edit"></i></a>
			</h5>
			<h5>
				Characters:
			</h5>
			<h5>
				Notes</h5>
			@Html.EditorFor(model => Model.Notes)
			<input type="submit" value="Save" />
		</fieldset>

 }
</div>
