@model Blue_Script.Scene
	@using (Ajax.BeginForm("EditScene", "Home", new AjaxOptions
	{
		HttpMethod = "POST",
		UpdateTargetId = "tabs-1",
		InsertionMode = InsertionMode.InsertAfter
	}))
 {
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)
		<fieldset>
			<legend><input id="Name" class="text-box single-line valid" type="text" value="@Model.Name" name="Name" onchange="this.form.submit()"><span class="pull-right">@Html.ActionLink("X", "DeleteScene", new { id = Model.ID })</span></legend>
			@Html.HiddenFor(model => Model.ID)
			<h5>
				Setting: @Html.DropDownList("PossibleSettings", (IEnumerable<SelectListItem>)ViewBag.PossibleSettings, new { @onchange="this.form.submit()" })
				
			</h5>
			<h5>
				Characters:
			</h5>
			<div class="editor-field">
				@{
	 List<Blue_Script.Models.AssignedCharacters> characters = ViewBag.Characters;

	 foreach (var character in characters)
	 {
		<div class="checkbox">
			<label>
					<input type="checkbox" 
                               name="selectedCharacters" 
                               value="@character.CharacterID" 
							   onchange="this.form.submit()"
                               @(Html.Raw(character.Assigned ? "checked=\"checked\"" : "")) /> 
					 @character.FullName
			</label>
		</div>
	 }
				}
			</div>
			<h5>
				Notes</h5>
			<textarea id="Notes" class="text-box multi-line" name="Notes" rows="5" onchange="this.form.submit()">@Model.Notes</textarea>
			<input type="submit" value="Save"/>
		</fieldset>

 }
		