@model Blue_Script.Scene
<div class="event" draggable="true">
	@using (Ajax.BeginForm("EditScene", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "workarea" }))
 {
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)
		<fieldset>
			<legend>Scene</legend>
			@Html.HiddenFor(model => Model.ID)
			<h5>
				Name</h5>
			<div class="editor-field">@Html.EditorFor(model => Model.Name)</div>
			<h5>
				Setting: @Html.DropDownList("PossibleSettings", (IEnumerable<SelectListItem>)ViewBag.PossibleSettings)
				
			</h5>
			<h5>
				Characters:
			</h5>
			<div class="editor-field">
				@{
	 List<Blue_Script.Models.AssignedCharacters> characters = ViewBag.Characters;

	 foreach (var character in characters)
	 {
					<input type="checkbox" 
                               name="selectedCharacters" 
                               value="@character.CharacterID" 
                               @(Html.Raw(character.Assigned ? "checked=\"checked\"" : "")) /> 
					 @: @character.FullName
     }
				}
			</div>
			<h5>
				Notes</h5>
			@Html.EditorFor(model => Model.Notes)
			<input type="submit" value="Save" />
		</fieldset>

 }
		@Html.ActionLink("X", "DeleteScene", new { id = Model.ID }, new { @class = "confirmDialog" })
</div>
