@model Blue_Script.Scene
	@using (Ajax.BeginForm("EditScene", "Home", new AjaxOptions
	{
		HttpMethod = "POST",
		UpdateTargetId = "tabs-1",
		InsertionMode = InsertionMode.InsertAfter
	}, new { @class = "sceneForm" }))
 {
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)
		<fieldset>
			<legend>@Html.EditorFor(model => Model.Name)<span class="pull-right">@Html.ActionLink("X", "DeleteScene", new { id = Model.ID })</span></legend>
			@Html.HiddenFor(model => Model.ID)
			<h5>
				Setting: @Html.DropDownList("PossibleSettings", (IEnumerable<SelectListItem>)ViewBag.PossibleSettings)
				
			</h5>
			<h5>
				Characters:
			</h5>
			<div class="editor-field">
				@{
	 List<Blue_Script.Models.AssignedCharacters> characters = ViewBag.Characters;

	 foreach (var character in characters)
	 {
		<div class="checkbox">
			<label>
					<input type="checkbox" 
                               name="selectedCharacters" 
                               value="@character.CharacterID" 
                               @(Html.Raw(character.Assigned ? "checked=\"checked\"" : "")) /> 
					 @character.FullName
			</label>
		</div>
	 }
				}
			</div>
			<h5>
				Notes</h5>
			@Html.EditorFor(model => Model.Notes)
			<input type="submit" value="Save" />
		</fieldset>

 }
		